@list-prefix-cls: ~"@{css-prefix}-list";

.@{list-prefix-cls} {
    .ivu-card-body {
        padding: 8px;
        height: 100%;
    }
    .ivu-checkbox-wrapper {
        margin-right: 0;
    }

    &-ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &-item {
        margin: 8px 8px;
        &-checkbox {
            float: right;
        }
        &-header {
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            width: 80%;
        }
        &-footer {
            font-size: 12px;
            line-height: 20px;
        }
        &-headeredit {
            float: right;
            margin-right: 2px;
        }
        &-footeredit {
            display: inline-block;
            width: 21px;
            height: 21px;
        }
    }
}
