@logicselect-prefix-cls: ~"@{css-prefix}-logicselect";


.@{logicselect-prefix-cls} {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: row
}

.@{logicselect-prefix-cls}-logic {
    width: 90px;
    margin-right: 10px;
}

.@{logicselect-prefix-cls}-single-select {
    width: 80px;
}

.@{logicselect-prefix-cls}-double-select-box {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: row;
}
