.@{css-prefix} {
    .ivu-divider-horizontal {
        margin: 20px 0;
    }
}

.@{css-prefix}-hide {
    display: none;
}


.@{css-prefix}-header {
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.@{css-prefix}-tip {
    margin-right: 40px;
    line-height: 30px;
}

.@{css-prefix}-extra-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
}
