.@{css-prefix} {
    .ivu-divider-horizontal {
        margin: 20px 0;
    }
    .ivu-form {
        position: relative;
    }
}

.@{css-prefix}-hide {
    display: none;
}


.@{css-prefix}-header {
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.@{css-prefix}-tip {
    margin-right: 40px;
    line-height: 30px;
}

.@{css-prefix}-default-items-box {
    width: 90%;
    display: inline-block;
}

.@{css-prefix}-default-items-box-no-right {
    width: 100%;
}

.@{css-prefix}-extra-box-right {
    position: absolute;
    top: 0;
    right: 10px;
    width: 9%;
    display: inline-block;
    text-align: right;
}

.@{css-prefix}-extra-right-content {
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    width: auto;
    height: auto;
    border: solid 1px #e4e4e4;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    .ivu-checkbox-group-item {
        width: 140px;
        text-align: left;
    }
}


.@{css-prefix}-extra-box {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    color: #2d8cf0;

    &::after{
        content: "";
        display: block;
        clear: both;
    }
}

.@{css-prefix}-extra-left {
    float: left;
    height: 24px;
    line-height: 24px;
}

.@{css-prefix}-extra-select-box {
    margin: 0 auto;
    width: 96%;
}
